@charset "UTF-8";
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-list__link, .nav-list__link--current {
  display: block;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.25;
  color: #035755;
}

.page-header__container, .navigation, .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__button, .corona-section__button, .question-button {
  display: inline-block;
  border: none;
  outline: none;
  font-family: "Gelion", sans-serif;
}

.main-section__button:hover, .corona-section__button:hover, .question-button:hover, .main-section__button:focus, .corona-section__button:focus, .question-button:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@-webkit-keyframes ellipseOne {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateX(40px) rotate(90deg) scale(130%);
            transform: translateX(40px) rotate(90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateY(50px) rotate(180deg) scale(95%);
            transform: translateY(50px) rotate(180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateX(40px) rotate(270deg) scale(130%);
            transform: translateX(40px) rotate(270deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(360deg) scale(100%);
            transform: translateX(10px) rotate(360deg) scale(100%);
  }
}

@keyframes ellipseOne {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateX(40px) rotate(90deg) scale(130%);
            transform: translateX(40px) rotate(90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateY(50px) rotate(180deg) scale(95%);
            transform: translateY(50px) rotate(180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateX(40px) rotate(270deg) scale(130%);
            transform: translateX(40px) rotate(270deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(360deg) scale(100%);
            transform: translateX(10px) rotate(360deg) scale(100%);
  }
}

@-webkit-keyframes ellipseTwo {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateX(50px) rotate(-180deg) scale(95%);
            transform: translateX(50px) rotate(-180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(0deg) scale(100%);
            transform: translateX(10px) rotate(0deg) scale(100%);
  }
}

@keyframes ellipseTwo {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateX(50px) rotate(-180deg) scale(95%);
            transform: translateX(50px) rotate(-180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(0deg) scale(100%);
            transform: translateX(10px) rotate(0deg) scale(100%);
  }
}

html {
  font-size: 20px;
}

body {
  font-family: "Gelion", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 20px;
  outline: 1px solid #0400ff;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__subtitle {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fa5652;
  margin-bottom: 10px;
}

.section__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 1.5rem;
  color: #035755;
  margin-bottom: 20px;
}

.section__text {
  color: #4b4f51;
  font-size: 0.9rem;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/gelionFont/GelionRegular.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/gelionFont/GelionMedium.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/gelionFont/GelionSemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/gelionFont/GelionBold.woff") format("woff");
}

.page-header {
  border-bottom: 2px solid #f0a8a8;
}

.page-header .container {
  position: relative;
}

#toggle {
  display: none;
}

.mobile-menu-label {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.mobile-menu-label span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fb4c47;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-header__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.25;
  color: #035755;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: 10px;
  height: 50px;
}

.navigation {
  margin-left: auto;
}

.nav-list {
  margin-right: 20px;
}

.nav-list__item:not(:first-child) {
  margin-left: 30px;
}

.nav-list__link--current {
  color: #fa5652;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #fa5652;
}

.contact-link {
  border: 2px solid #fa5652;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  height: 45px;
  border-radius: 45px;
  font-size: 0.8rem;
  line-height: 1.25;
  font-weight: 500;
  color: #fa5652;
}

.contact-link:hover, .contact-link:focus {
  background-color: #ffeceb;
}

@media screen and (max-width: 767px) {
  .mobile-menu-label {
    display: block;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(1) {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-top: 10px;
    margin-left: 11px;
    margin-bottom: 6px;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(2) {
    display: none;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    margin-top: -10px;
    margin-left: 10px;
  }
  .navigation, .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .navigation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #ffeceb;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  #toggle:checked ~ .page-header__container .navigation {
    left: 0;
  }
  .nav-list {
    margin-right: 0;
  }
  .nav-list__item:not(:first-child) {
    margin-left: 0;
  }
  .contact-link:hover, .contact-link:focus {
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 1rem;
  }
  .logo img {
    margin-right: 10px;
    height: 100%;
    -webkit-animation: pulsing 4s infinite;
            animation: pulsing 4s infinite;
  }
  .nav-list {
    margin-right: 40px;
  }
  .nav-list__item:not(:first-child) {
    margin-left: 50px;
  }
  .nav-list__link {
    font-size: 1rem;
  }
  .nav-list__link--current {
    font-size: 1rem;
  }
  .contact-link {
    border: 2px solid #fa5652;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 155px;
    height: 55px;
    border-radius: 45px;
    font-size: 1rem;
  }
}

.main-section__bg {
  background-image: url("../../images/Virus-3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-section-image {
  margin-bottom: 20px;
}

.section-content {
  text-align: center;
}

.main-section__button {
  background-color: #fb4c47;
  padding: 25px 50px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.main-section__button:hover, .main-section__button:focus {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
          box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
}

@media screen and (min-width: 768px) {
  .main-section-image {
    position: relative;
    left: 50px;
  }
  .main-section-image img {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__bg {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 1360px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    background-size: 75%;
    background-position-x: 340px;
    background-position-y: 32px;
  }
  .main-section__bg::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("../../images/Virus-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: 250px;
    -webkit-animation-name: ellipseOne;
            animation-name: ellipseOne;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8000ms;
            animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .main-section__bg::after {
    content: '';
    width: 70px;
    height: 70px;
    background-image: url("../../images/Virus-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 130px;
    -webkit-animation-name: ellipseTwo;
            animation-name: ellipseTwo;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .main-section-image {
    left: 0;
  }
  .main-section-image img {
    width: 100%;
  }
  .main-section-content {
    text-align: start;
    width: 650px;
    margin: auto;
  }
  .main-section__subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .main-section__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .main-section__text {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .main-section__button {
    padding: 30px 70px;
    border-radius: 50px;
    font-size: 1.5rem;
  }
}

.corona-section-image {
  margin-bottom: 20px;
}

.corona-section-image img {
  margin: 0 auto;
}

.corona-section__subtitle {
  font-size: 0.9rem;
}

.corona-section__title {
  font-size: 1.3rem;
}

.corona-section__text {
  font-size: 0.8rem;
}

.corona-section__button {
  background-color: rgba(250, 86, 82, 0.15);
  padding: 20px 30px;
  border-radius: 35px;
  font-weight: 600;
  font-size: 1rem;
  color: #fa5652;
}

.corona-section__button:hover, .corona-section__button:focus {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
          box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
}

@media screen and (min-width: 768px) {
  .corona-section__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url("../../images/Virus-4.1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 600px 10px;
  }
  .corona-section-image {
    margin-bottom: 0;
  }
  .corona-section-content {
    text-align: start;
    max-width: 350px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .corona-section__bg {
    background-size: 25%;
    background-position: 920px 155px;
  }
  .corona-section-image {
    max-width: 530px;
  }
  .corona-section-content {
    max-width: 510px;
    margin-left: 0;
  }
  .corona-section__subtitle {
    font-size: 1.3rem;
  }
  .corona-section__title {
    font-size: 1.6rem;
  }
  .corona-section__text {
    font-size: 1.1rem;
  }
}

.сontagion-section-content {
  margin-bottom: 40px;
}

.сontagion-section__subtitle {
  font-size: 0.9rem;
}

.сontagion-section__title {
  font-size: 1.3rem;
}

.сontagion-section__text {
  font-size: 0.8rem;
}

.сontagion-list__item {
  position: relative;
  padding: 30px 30px 35px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  background-color: #fff;
}

.сontagion-list__item::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fa5652;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.сontagion-list__item:hover::after, .сontagion-list__item:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.сontagion-image {
  margin: 0 auto;
}

.сontagion-content {
  text-align: center;
  margin-top: 35px;
}

.сontagion-card__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #035755;
  margin-bottom: 12px;
}

.сontagion-card__text {
  color: #4b4f51;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .сontagion-section__bg {
    background-image: url("../../images/Virus-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
  .сontagion-section-content {
    max-width: 470px;
    margin: 0 auto 40px;
  }
  .сontagion-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
  .сontagion-list__item {
    border-radius: 10px;
  }
  .сontagion-list__item::after {
    bottom: 2px;
    height: 5px;
  }
  .сontagion-list__item:last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    width: 344px;
    margin: 0 auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .сontagion-section__bg {
    background-size: 75%;
    background-position: 50px 20px;
  }
  .сontagion-section-content {
    margin: 0 auto 60px;
  }
  .сontagion-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
  }
  .сontagion-list__item:not(:last-child) {
    margin-bottom: 0;
    width: 320px;
    margin: 0 auto;
  }
  .сontagion-list__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 0;
  }
}

.symptomps-section-content {
  margin-bottom: 40px;
}

.symptomps-section__subtitle {
  font-size: 0.9rem;
}

.symptomps-section__title {
  font-size: 1.3rem;
}

.symptomps-section__text {
  font-size: 0.8rem;
}

.symptomps-section-card {
  width: 100%;
  height: 350px;
  background-image: url("../../images/Symptomps.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .symptomps-section-content {
    max-width: 470px;
    margin-bottom: 0;
    margin: 0 auto;
  }
  .symptomps-section-card {
    height: 450px;
    background-image: url("../../images/Symptomps.png"), url("../../images/Virus-5.png"), url("../../images/Virus-6.png");
    background-repeat: no-repeat;
    background-size: 620px, 125px, 90px;
    background-position: center, top 280px right -40px, top 7px left -10px;
  }
}

@media screen and (min-width: 1200px) {
  .symptomps-section-card {
    height: 650px;
    background-size: 850px, 125px, 90px;
    background-position: center, top 280px right 12px, top 7px left 95px;
  }
}

.wswd-section-content {
  margin-bottom: 40px;
}

.wswd-section__subtitle {
  font-size: 0.9rem;
}

.wswd-section__title {
  font-size: 1.3rem;
}

.wswd-section__text {
  font-size: 0.8rem;
}

.wswd-list__item:not(:last-child) {
  margin-bottom: 60px;
}

.item-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px auto;
      grid-template-columns: 65px auto;
  margin-bottom: 40px;
}

.item-description__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(250, 86, 82, 0.15);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #fa5652;
}

.item-description__text {
  margin-top: 6px;
}

.item__title {
  font-family: "Gelion", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.3rem;
  color: #035755;
  margin-bottom: 10px;
}

.item__text {
  font-family: "Gelion", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 0.8rem;
  color: #4b4f51;
}

.item-image {
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wswd-section-content {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
  .wswd-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wswd-list__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .item-description {
    -ms-grid-columns: 85px auto;
        grid-template-columns: 85px auto;
    margin-bottom: 0;
  }
  .item-description__text {
    max-width: 300px;
  }
  .item-image {
    max-width: 340px;
  }
}

@media screen and (min-width: 1200px) {
  .wswd-list__item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .item-image {
    max-width: 500px;
    margin: 0;
  }
}

.question-section {
  padding-bottom: 0;
  background-color: #ffe1e2;
}

.question-title {
  text-align: center;
  font-family: "Gelion", sans-serif;
  font-weight: 500;
  color: #0c6c44;
}

.question-title__bold {
  font-weight: 600;
}

.form-container {
  width: 320px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.question-input {
  padding: 15px 10px 15px 20px;
  font-size: 0.8rem;
  border: none;
  outline: none;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.question-button-container {
  position: absolute;
  background-color: #fff;
  width: 90px;
  height: 52px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.question-button {
  background-color: #fb4c47;
  padding: 10px 20px;
  border-radius: 19px;
  font-weight: 500;
  font-size: 0.8rem;
  color: #fff;
  margin: 7px 0;
}

.question-button:hover, .question-button:focus {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
          box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
}

@media screen and (min-width: 1200px) {
  .question-title {
    font-size: 2rem;
  }
  .form-container {
    width: 500px;
    margin-top: 40px;
  }
  .question-form {
    margin-left: 15px;
  }
  .question-input {
    padding: 20px 15px 20px 30px;
    font-size: 1.2rem;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
  }
  .question-button-container {
    width: 115px;
    height: 72px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
  }
  .question-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    margin: 13px 0;
  }
}

.page-footer {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffe1e2;
}

.page-footer__container {
  text-align: center;
}

.page-footer__nav-list {
  display: none;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 45px;
}

.social-list__link {
  color: #4b4f51;
  font-size: 2rem;
}

.fa-facebook-f:hover, .fa-facebook-f:focus {
  color: #0e8ef1;
}

.fa-youtube:hover, .fa-youtube:focus {
  color: red;
}

.fa-vimeo-v:hover, .fa-vimeo-v:focus {
  color: #26b9f1;
}

.fa-twitter:hover, .fa-twitter:focus {
  color: #1da1f2;
}

.copyrights {
  margin-top: 20px;
  text-align: center;
  color: #4b4f51;
}

@media screen and (min-width: 768px) {
  .page-footer__container,
  .page-footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-footer__navigation {
    margin-left: auto;
  }
  .footer-contact-link {
    margin-left: 50px;
  }
}
/*# sourceMappingURL=main.css.map */