.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav-list__link, .nav-list__link--current {
  display: block;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.25;
  color: #035755;
}

.page-header__container, .navigation, .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__button, .corona-section__button {
  display: inline-block;
  border: none;
  outline: none;
  font-family: "Gelion", sans-serif;
}

.main-section__button:hover, .corona-section__button:hover, .main-section__button:focus, .corona-section__button:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

@-webkit-keyframes ellipseOne {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateX(40px) rotate(90deg) scale(130%);
            transform: translateX(40px) rotate(90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateY(50px) rotate(180deg) scale(95%);
            transform: translateY(50px) rotate(180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateX(40px) rotate(270deg) scale(130%);
            transform: translateX(40px) rotate(270deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(360deg) scale(100%);
            transform: translateX(10px) rotate(360deg) scale(100%);
  }
}

@keyframes ellipseOne {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateX(40px) rotate(90deg) scale(130%);
            transform: translateX(40px) rotate(90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateY(50px) rotate(180deg) scale(95%);
            transform: translateY(50px) rotate(180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateX(40px) rotate(270deg) scale(130%);
            transform: translateX(40px) rotate(270deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(360deg) scale(100%);
            transform: translateX(10px) rotate(360deg) scale(100%);
  }
}

@-webkit-keyframes ellipseTwo {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateX(50px) rotate(-180deg) scale(95%);
            transform: translateX(50px) rotate(-180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(0deg) scale(100%);
            transform: translateX(10px) rotate(0deg) scale(100%);
  }
}

@keyframes ellipseTwo {
  0% {
    -webkit-transform: translateX(10px) rotate(0) scale(100%);
            transform: translateX(10px) rotate(0) scale(100%);
  }
  25% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  50% {
    -webkit-transform: translateX(50px) rotate(-180deg) scale(95%);
            transform: translateX(50px) rotate(-180deg) scale(95%);
  }
  75% {
    -webkit-transform: translateY(40px) rotate(-90deg) scale(130%);
            transform: translateY(40px) rotate(-90deg) scale(130%);
  }
  100% {
    -webkit-transform: translateX(10px) rotate(0deg) scale(100%);
            transform: translateX(10px) rotate(0deg) scale(100%);
  }
}

html {
  font-size: 20px;
}

body {
  font-family: "Gelion", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 20px;
  outline: 1px solid #0400ff;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__subtitle {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #fa5652;
  margin-bottom: 10px;
}

.section__title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 1.5rem;
  color: #035755;
  margin-bottom: 20px;
}

.section__text {
  color: #4b4f51;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/gelionFont/GelionRegular.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/gelionFont/GelionMedium.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/gelionFont/GelionSemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Gelion';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/gelionFont/GelionBold.woff") format("woff");
}

.page-header {
  border-bottom: 2px solid #f0a8a8;
}

.page-header .container {
  position: relative;
}

#toggle {
  display: none;
}

.mobile-menu-label {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.mobile-menu-label span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fb4c47;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-header__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.25;
  color: #035755;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: 10px;
  height: 50px;
}

.navigation {
  margin-left: auto;
}

.nav-list {
  margin-right: 20px;
}

.nav-list__item:not(:first-child) {
  margin-left: 30px;
}

.nav-list__link--current {
  color: #fa5652;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #fa5652;
}

.contact-link {
  border: 2px solid #fa5652;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  height: 45px;
  border-radius: 45px;
  font-size: 0.8rem;
  line-height: 1.25;
  font-weight: 500;
  color: #fa5652;
}

.contact-link:hover, .contact-link:focus {
  background-color: #ffeceb;
}

@media screen and (max-width: 767px) {
  .mobile-menu-label {
    display: block;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(1) {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-top: 10px;
    margin-left: 11px;
    margin-bottom: 6px;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(2) {
    display: none;
  }
  #toggle:checked + .mobile-menu-label > span:nth-child(3) {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    margin-top: -10px;
    margin-left: 10px;
  }
  .navigation, .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .navigation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #ffeceb;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  #toggle:checked ~ .page-header__container .navigation {
    left: 0;
  }
  .nav-list {
    margin-right: 0;
  }
  .nav-list__item:not(:first-child) {
    margin-left: 0;
  }
  .contact-link:hover, .contact-link:focus {
    background-color: #fff;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 1rem;
  }
  .logo img {
    margin-right: 10px;
    height: 100%;
    -webkit-animation: pulsing 4s infinite;
            animation: pulsing 4s infinite;
  }
  .nav-list {
    margin-right: 40px;
  }
  .nav-list__item:not(:first-child) {
    margin-left: 50px;
  }
  .nav-list__link {
    font-size: 1rem;
  }
  .nav-list__link--current {
    font-size: 1rem;
  }
  .contact-link {
    border: 2px solid #fa5652;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 155px;
    height: 55px;
    border-radius: 45px;
    font-size: 1rem;
  }
}

.main-section__bg {
  background-image: url("../../images/Virus-3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.main-section-image {
  margin-bottom: 20px;
}

.main-section-image img {
  width: 75%;
}

.section-content {
  text-align: center;
}

.main-section__button {
  background-color: #fb4c47;
  padding: 25px 50px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}

.main-section__button:hover, .main-section__button:focus {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
          box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
}

@media screen and (min-width: 768px) {
  .main-section-image {
    position: relative;
    left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__bg {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 1360px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    background-size: 75%;
    background-position-x: 340px;
    background-position-y: 32px;
  }
  .main-section__bg::before {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url("../../images/Virus-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10px;
    left: 250px;
    -webkit-animation-name: ellipseOne;
            animation-name: ellipseOne;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 8000ms;
            animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .main-section__bg::after {
    content: '';
    width: 70px;
    height: 70px;
    background-image: url("../../images/Virus-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 130px;
    -webkit-animation-name: ellipseTwo;
            animation-name: ellipseTwo;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .main-section-image {
    left: 0;
  }
  .main-section-image img {
    width: 100%;
  }
  .main-section-content {
    text-align: start;
    width: 650px;
    margin: auto;
  }
  .main-section__subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .main-section__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .main-section__text {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .main-section__button {
    padding: 30px 70px;
    border-radius: 50px;
    font-size: 1.5rem;
  }
}

.corona-section-image {
  margin-bottom: 20px;
}

.corona-section-image img {
  margin: 0 auto;
}

.corona-section__subtitle {
  font-size: 0.9rem;
}

.corona-section__title {
  font-size: 1.3rem;
}

.corona-section__text {
  font-size: 0.8rem;
}

.corona-section__button {
  background-color: rgba(250, 86, 82, 0.15);
  padding: 20px 30px;
  border-radius: 35px;
  font-weight: 600;
  font-size: 1rem;
  color: #fa5652;
}

.corona-section__button:hover, .corona-section__button:focus {
  -webkit-box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
          box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
}

@media screen and (min-width: 768px) {
  .corona-section__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: url("../../images/Virus-4.1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 600px 10px;
  }
  .corona-section-image {
    margin-bottom: 0;
  }
  .corona-section-content {
    text-align: start;
    max-width: 350px;
    margin-left: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .corona-section__bg {
    background-size: 25%;
    background-position: 920px 155px;
  }
  .corona-section-image {
    max-width: 530px;
  }
  .corona-section-content {
    max-width: 510px;
    margin-left: 0;
  }
  .corona-section__subtitle {
    font-size: 1.3rem;
  }
  .corona-section__title {
    font-size: 1.6rem;
  }
  .corona-section__text {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=main.css.map */