.main-section__bg {
  background-image: url('../../images/Virus-3.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.main-section-image {
  margin-bottom: 20px;
}

.section-content {
  text-align: center;
}

.main-section__button {
  @extend %buttonBase;

  background-color: #fb4c47;
  padding: 25px 50px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;

  &:hover,
  &:focus {
    box-shadow: 1px 1px 20px 1px rgba(236, 11, 11, 0.78);
  }
}

@media screen and (min-width: $tablet) {
  .main-section-image {
    position: relative;
    left: 50px;
  }

  .main-section-image img {
    width: 75%;
  }
}

@media screen and (min-width: $desktop) {
  .main-section__bg {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 1360px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;

    background-size: 75%;
    background-position-x: 340px;
    background-position-y: 32px;

    &::before {
      content: '';
      width: 100px;
      height: 100px;
      background-image: url('../../images/Virus-2.png');
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      bottom: 10px;
      left: 250px;
      @include ellipseAnimation($name: ellipseOne, $duration: 8000ms);
    }

    &::after {
      content: '';
      width: 70px;
      height: 70px;
      background-image: url('../../images/Virus-1.png');
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      top: 10px;
      right: 130px;
      @include ellipseAnimation($name: ellipseTwo, $duration: 30s);
    }
  }

  .main-section-image {
    left: 0;
  }

  .main-section-image img {
    width: 100%;
  }

  .main-section-content {
    text-align: start;
    width: 650px;
    margin: auto;
  }

  .main-section__subtitle {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .main-section__title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .main-section__text {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }

  .main-section__button {
    padding: 30px 70px;
    border-radius: 50px;
    font-size: 1.5rem;
  }
}
