.page-footer {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: $background;
}

.page-footer__container {
  text-align: center;
}

.page-footer__nav-list {
  display: none;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-list__item:not(:last-child) {
  margin-right: 45px;
}

.social-list__link {
  color: $description-text-color;
  font-size: 2rem;
}

.fa-facebook-f {
  &:hover,
  &:focus {
    color: #0e8ef1;
  }
}

.fa-youtube {
  &:hover,
  &:focus {
    color: red;
  }
}

.fa-vimeo-v {
  &:hover,
  &:focus {
    color: #26b9f1;
  }
}

.fa-twitter {
  &:hover,
  &:focus {
    color: #1da1f2;
  }
}
