.page-header {
  border-bottom: 2px solid #f0a8a8;
}

.page-header .container {
  position: relative;
}

//mob menu btn
#toggle {
  display: none;
}

.mobile-menu-label {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.mobile-menu-label span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: $first-accent-color;
  margin: 5px 0;
  transition: 0.3s;
}

.page-header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  @extend %centeredFlex;
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1.25;
  color: $title-text-color;

  display: inline-flex;
  align-items: center;

  & img {
    margin-right: 10px;
    height: 50px;
  }
}

.navigation {
  @extend %centeredFlex;
  margin-left: auto;
}

.nav-list {
  @extend %centeredFlex;
  margin-right: 20px;

  &__item:not(:first-child) {
    margin-left: 30px;
  }
}

.nav-list__link {
  @extend %nav-link;

  &--current {
    @extend %nav-link;
    color: $subtitle-text-color;
  }

  &:hover,
  &:focus {
    color: $subtitle-text-color;
  }
}

.contact-link {
  border: 2px solid $subtitle-text-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 45px;
  border-radius: 45px;

  font-size: 0.8rem;
  line-height: 1.25;
  font-weight: 500;
  color: $subtitle-text-color;

  &:hover,
  &:focus {
    background-color: $second-accent-color;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-label {
    display: block;

    #toggle:checked + & > span:nth-child(1) {
      transform: rotateZ(45deg);
      margin-top: 10px;
      margin-left: 11px;
      margin-bottom: 6px;
    }

    #toggle:checked + & > span:nth-child(2) {
      display: none;
    }

    #toggle:checked + & > span:nth-child(3) {
      transform: rotateZ(-45deg);
      margin-top: -10px;
      margin-left: 10px;
    }
  }

  %columnFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
  }

  .navigation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: $second-accent-color;
    @extend %columnFlex;
    transition: 0.3s linear;

    #toggle:checked ~ .page-header__container & {
      left: 0;
    }
  }

  .nav-list {
    @extend %columnFlex;
    margin-right: 0;

    &__item:not(:first-child) {
      margin-left: 0;
    }
  }

  .contact-link {
    &:hover,
    &:focus {
      background-color: #fff;
    }
  }
}

@media screen and (min-width: $desktop) {
  .logo {
    font-size: 1rem;

    & img {
      margin-right: 10px;
      height: 100%;
      animation: pulsing 4s infinite;
    }
  }

  .nav-list {
    margin-right: 40px;

    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }

  .nav-list__link {
    font-size: 1rem;

    &--current {
      font-size: 1rem;
    }
  }

  .contact-link {
    border: 2px solid $subtitle-text-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    border-radius: 45px;

    font-size: 1rem;
  }
}
