html {
  font-size: 20px;
}

body {
  font-family: $main-font;
  font-weight: 400;
}

// 0-479 responsive mobile container
.container {
  width: 100%;
  padding: 0 20px;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section__subtitle {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 1rem;
  color: $subtitle-text-color;
  margin-bottom: 10px;
}

.section__title {
  font-family: $secondary-font;
  font-weight: 700;
  line-height: 1;
  font-size: 1.5rem;
  color: $title-text-color;
  margin-bottom: 20px;
}

.section__text {
  color: $description-text-color;
  font-size: 0.9rem;
}

// 480-767 adaptive mobile container
@media screen and (min-width: $mobile) {
  .container {
    width: $mobile;
    margin: 0 auto;
  }
}

// 768-1199 adaptive tablet container
@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// 1200+ adaptive desktop container
@media screen and (min-width: $desktop) {
  .container {
    width: $desktop;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
