// fonts
$main-font: 'Gelion', sans-serif;
$secondary-font: 'Red Hat Display', sans-serif;

// colors
// text-colors
$title-text-color: #035755;
$subtitle-text-color: #fa5652;
$description-text-color: #4b4f51;
// backgrounds
$background: #ffe1e2;
// accent-colors
$first-accent-color: #fb4c47;
$second-accent-color: #ffeceb;

// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
